.path {
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 20px;
}

.t1-form {
  border-radius: 15px;
  width: 90%;
  font-size: 4vw;
  border: 1px solid rgb(199, 199, 199);
}

.label-cont {
  display: flex;
  align-items: center;
}

.field-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.s-ticket {
  background-color: #f7f7f7;
}

.info-row {
  background-color: #fefefe;
}

.border-row {
  border: solid 1px rgb(199, 199, 199);
  font-weight: bold;
  padding: 0;
}

.txt-form {
  font-size: 4vw;
}

.price {
  color: #ec5242;
}

.stripe {
  background-image: linear-gradient(135deg, #ec5242 12.5%, #ffff 12.5%, #ffff 25%, #000091 25%, #000091 37.5%, #fff 37.5%, #fff 50%, #ec5242 50%, #ec5242 62.5%, #ffff 62.5%, #ffff 75%, #000091 75%, #000091 87.5%, #fff 87.5%, #fff 100%);
  background-size: 56.57px 56.57px;
  width: 95%;
  margin: auto;
}

.size,
.color {
  width: 96%;
}

.cont-f1 {
  margin-top: 25px;
  margin-bottom: 55px;
}

.back-color {
  background-color: #f7f7f7;
}

.sbut {
  background-color: #ec5242;
  color: #fff;
  padding: 5px 50px;
  border: none;
}

.sbut:active {
  background-color: #d34738;
}

.square {
  width: 25px;
  height: 25px;
  background-color: #ec5242;
  margin: 0 auto;
  transform: rotate(45deg);
  position: relative;
  top: -20px;
}

.sqsp {
  transform: rotate(315deg);
}

.home {
  text-decoration: none;
  color: black;
}

.home:hover {
  text-decoration: none;
  color: black;
}

footer {
  background-color: #272a31;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.legal-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-m {
  width: 50%;
}

@media only screen and (min-width: 768px) {
  .bu {
    color: white;
  }

  .title {
    width: 90%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    font-size: 4.5vw;
  }

  .path {
    top: 115px;
  }

  .t1-form {
    width: 50%;
    font-size: 2vw;
  }

  .txt-form {
    font-size: 2vw;
  }

  .stripe {
    width: 75%;
  }

  .size,
  .color {
    width: 75%;
  }

  footer {
    flex-direction: row;
    justify-content: center;
    min-height: 180px;
  }

  .legal-cont {
    align-items: flex-start;
    margin-left: 40px;
    width: 30%;
  }

  .logo-m {
    margin: 12px 0;
  }
}
